* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: sans-serif;
}
.link {
    padding: 25px;
    background-color: #333;
}
img {
    border-radius: 25px;
    height: 300px;
    width: 500px;
}

.jogos {
    background-color: black;
    padding: 1em 20em;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
    padding: 25px 0;
}

h1 {
    padding: 25px;
    background-color: #333;
    color: #fff;
}

.espaco {
    margin: 20px 20px;
}
a:hover {
    color: #858585;
}