* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(222, 247, 255);
}
img {
    border-radius: 25px;
    height: 300px;
    width: 500px;
}

.jogos {
    background-color: black;
    padding: 1em 20em;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
    padding: 25px 0;
}